.bgcolor-black{
    background-color: black;
}
.bgcolor-black{
    background-color: black;
}
.bgcolor-silver{
    background-color: silver;
}
.bgcolor-gray{
    background-color: gray;
}
.bgcolor-white{
    background-color: white;
}
.bgcolor-black{
    background-color: maroon;
}
.bgcolor-red{
    background-color: red;
}
.bgcolor-purple{
    background-color: purple;
}
.bgcolor-fuchsia{
    background-color: fuchsia;
}
.bgcolor-green{
    background-color: green;
}
.bgcolor-lime{
    background-color: lime;
}
.bgcolor-olive{
    background-color: olive;
}
.bgcolor-yellow{
    background-color: yellow;
}
.bgcolor-navy{
    background-color: navy;
}
.bgcolor-blue{
    background-color: blue;
}
.bgcolor-teal{
    background-color: teal;
}
.bgcolor-aqua{
    background-color: aqua;
}