.text-black{
    color:black;
}
.text-silver{
    color:silver;
}
.text-gray{
    color:gray;
}
.text-white{
    color:white;
}
.text-maroon{
    color:maroon;
}
.text-red{
    color:red;
}
.text-purple{
    color:purple;
}
.text-fuchsia{
    color:fuchsia;
}
.text-green{
    color:green;
}
.text-lime{
    color:lime;
}
.text-olive{
    color:olive;
}
.text-yellow{
    color:yellow;
}
.text-navy{
    color:navy;
}
.text-blue{
    color:blue;
}
.text-teal{
    color:teal;
}
.text-aqua{
    color:aqua;
}