/* Display Properties For Type of Devices  */

.display-none{
    display:none;
}
.display-block{
    display: block;
}
.display-inline-block{
    display:inline-block;
}
.display-flex{
    display:flex;
}
.display-grid{
    display:grid;
}


/* Small screen  */
@media (width >=576px) {
    .display-sm-none{
        display:none;
    }
    .display-sm-block{
        display: block;
    }
    .display-sm-inline-block{
        display:inline-block;
    }
    .display-sm-flex{
        display:flex;
    }
    .display-sm-grid{
        display:grid;
    }
    
}

/* Medium Screen (tab */
@media (width >=768px) {
    .display-md-none{
        display:none;
    }
    .display-md-block{
        display: block;
    }
    .display-md-inline-block{
        display:inline-block;
    }
    .display-md-flex{
        display:flex;
    }
    .display-md-grid{
        display:grid;
    }

}

/* Large Screen  */
@media (width >=992px){
    .display-lg-none{
        display:none;
    }
    .display-lg-block{
        display: block;
    }
    .display-lg-inline-block{
        display:inline-block;
    }
    .display-lg-flex{
        display:flex;
    }
    .display-lg-grid{
        display:grid;
    }
}


/* xl Screen Laptop  */
@media (width >=1200px) {
    .display-xl-none{
        display:none;
    }
    .display-xl-block{
        display: block;
    }
    .display-xl-inline-block{
        display:inline-block;
    }
    .display-xl-flex{
        display:flex;
    }
    .display-xl-grid{
        display:grid;
    }
}