.text-decoration-none{
    text-decoration: none;
}
.text-decoration-line-through{
    text-decoration: line-through;
}
.text-decoration-underline{
    text-decoration: underline;
}
.text-decoration-overline{
    text-decoration: overline;
}